* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Helvetica', sans-serif;
    background-color: whitesmoke;
}

.sidebar {
    width: 30%;
    display: block;
    clear: both;
    height: 100vh;
    position: fixed;
    top: 0; left: 0; bottom: 0;
    background-color: darkslategray;
    padding: 2rem 0;
    color: #fff;
}

.sidebar h1 {
    padding: 1rem 2rem;
    margin: 0;

}

.navigation-item {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
    vertical-align: middle;
    padding: 1rem 2rem;
}

.navigation-item:hover {
    background-color: slategray;
}

main {
    width: 70%;
    margin-left: 30%;
    padding: 2rem;
}

.tool-container {
    display: none;
}

.tool-container.shown {
    display: block;
}

.tool-container h1 {
    color: darkslategray;
    letter-spacing: 1px;
    font-size: 26px;
}

label {
    display: block;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
}

button {
    display: block;
    margin-top: 1rem;
    background-color: darkslategray;
    color: #fff;
    padding: 0.5rem 1rem;
    border: 0px;
    border-radius: 2px;
}

button:hover {
    cursor: pointer;
    background-color: slategray;
}

.error-text {
    color: tomato;
    display: none;
}

.error-text.active {
    display: block;
}

input[type="text"], input[type="number"] {
    background-color: whitesmoke;
    border: 0px;
    border-bottom: 1px solid darkslategray;
    padding: 0.25rem;
}

textarea {
    width: 220px;
    height: 50px;
    border-radius: 2px;
    border: 1px solid lightgray;
}

/* DOCUMENTATION GENERATOR */

.parameter-item {
    margin-bottom: 0.5rem;
}

.add-parameter {
    cursor: pointer;
    font-size: 12px;
    padding: 0.25rem 0.5rem;
    background-color: #bbb;
    margin-bottom: 2rem;
}

.return-parameter-text {
    font-size: 12px;
    margin-left: 0.25rem;
}

.return-container {
    display: none;
}

/* CODE DISABLER */

.label-container{
	display:none; 
}