* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Helvetica', sans-serif;
    background-color: whitesmoke;
}

.sidebar {
    width: 30%;
    display: block;
    clear: both;
    height: 100vh;
    position: fixed;
    top: 0; left: 0; bottom: 0;
    background-color: darkslategray;
    padding: 2rem 0;
    color: #fff;
}

.sidebar h1 {
    padding: 1rem 2rem;
    margin: 0;
}

.octopus {
    height: 2rem;
    width: auto;
    vertical-align: middle;
    margin-bottom: 4px;
}

.navigation-item {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
    vertical-align: middle;
    padding: 1rem 2rem;
}

.navigation-item.current-menu-item {
    font-weight: 700;
}

.navigation-item:hover {
    background-color: #476969;
}

.credits {
    position: absolute;
    bottom: 1rem;
    left: 2rem;

    font-size: 10px;
}

main {
    width: 70%;
    margin-left: 30%;
    padding: 2rem 4rem;
}

.tool-container {
    display: none;
}

.tool-container.shown {
    display: block;
}

.tool-container h1 {
    color: darkslategray;
    letter-spacing: 1px;
    font-size: 26px;
    margin-bottom: 2rem;
}

button {
    display: block;
    margin-top: 1rem;
    background-color: darkslategray;
    color: #fff;
    padding: 0.5rem 1rem;
    border: 0px;
    border-radius: 2px;
}

button:hover {
    cursor: pointer;
    background-color: #9A3C4A;
}

.error-text {
    color: #9A3C4A;
    font-size: 12px;
    display: none;
}

.error-text.active {
    display: block;
}

label {
    display: block;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 10px;
    color: #5d5d5d;
    font-weight: 700;
}

input[type="text"], input[type="number"], textarea {
    background-color: #eee;
    border: 0px;
    border-bottom: 1px solid darkslategray;
    padding: 0.5rem 0.25rem;
}

textarea {
    width: 220px;
    height: 50px;
    border: 0px;
    border-bottom: 1px solid darkslategray;
    resize: none;
}

textarea:focus, input:focus {
    outline: none;
}

/* DOCUMENTATION GENERATOR */

.parameter-item {
    margin-bottom: 0.5rem;
}

.add-parameter {
    cursor: pointer;
    font-size: 10px;
    padding: 0.25rem 0.5rem;
    background-color: #bbb;
    margin-bottom: 2rem;
}

.return-parameter-text {
    margin-left: 0.25rem;
    text-transform: uppercase;
    font-size: 10px;
    color: #5d5d5d;
    font-weight: 700;
}

.return-container {
    display: none;
}